:root {
	--white-color: #fff;
	--black-color: #000;
	--red-color: #e64848;
	--gold-color: #ccb17e;
	--gray-color: #5c5151;
	--light-gray-color: #f6f6f6;
	--sky-color: #5ca9dd;
	--green-color: #79e171;
	--blue-color: #3079f7;

	--border-color: rgba(92, 81, 81, 0.15);
	--trs-300: 300ms ease;
	--trs-600: 600ms ease;
	--shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
	--shadow-inset: 0px 4px 15px 0px rgba(0, 0, 0, 0.15) inset;
}

$desktop-xl: 2000px;
$desktop-lg: 1920px;
$desktop-md: 1440px;
$desktop-md-2: 1400px;
$desktop-sm: 1280px;
$tab: 1024px;
$tab-sm: 767px;
$pre-mob: 630px;
$mob: 500px;
